{{#base-card title='Food I like'}}
  <div>{{input value=name placeholder='Add a new food'}} <span class='add-span' {{action 'addFood' name}}>+ Add</span></div>
  <ul>
  {{#each likedOrders as |order|}}
    <li>{{order.name}} <span class='delete-span' {{action 'deleteFood' order}}> X</span></li>
  {{/each}}
  </ul>
{{/base-card}}