.base-card {
  .card-container {
    display: block;
    max-height: 40vh;
    margin-top: 6px;
  }
  .card-content-container {
    // declare the html element as a flexbox
    display: flex;

    // align-items: flex-start | flex-end | center | baseline | stretch;
    // all elements should be centered vertically
    align-items: center;

    // justify-content: flex-start | flex-end | center | space-between | space-around;
    // all elements should be centered horizontilly
    justify-content: center;
    height: 36vh;
    &.hide {
      display: none;
      height: 0;
    }
  }
  .accordion {
    line-height: 2.5;
    padding: 0 1em 0 1em;
    background-color: $main-blue;
    color: #fff;
    display: flex;
    justify-content: space-between;

    .accordion-item {
      display: flex;
    }
    .action-icon {
      cursor: pointer;
      transition: all .35s;
    }
    .rotated {
      transform: rotate(315deg);
    }
  }
}
