<div class='main-container'>
  {{nav-header}}

  <div class='content-container'>
    <div class='card-container'>
      card content
    </div>
        <div class='card-container'>
      card content
    </div>
  </div>
</div>
{{outlet}}