<div class='main-container'>
  {{nav-header user=model}}
  <div class='content-container'>
    <div class='card-container'>
      card content
    </div>
    <div class='card-container'>
      card content
    </div>
  </div>
</div>
{{outlet}}